body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  margin-right: 10px;
}

h1 {
  margin: 10px;
}

.buttonRow {
  margin: 20px 10px;
}

.chartContainer {
  float: left;
  margin: 20px;
  width: 300px;
}

.toggle {
  display: inline-block;
  padding: 5px 15px;
  margin-left: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.toggle.-active {
  background: rgb(82, 204, 218);
  color: white;
}

.toggle.-inactive {
  border: 1px solid rgb(82, 204, 218);
} 